@import "../../../style/theme.scss";

.edit-profile-wrapper {
	.primitive-info,
	.address-details {
		width: 100%;
		height: 80vh;
		border: $thin-border;
		background-color: white;
		padding: 1.5rem;
	}

	.primitive-info {
		input {
			margin-bottom: 1.2rem;
		}
	}
}
