@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600&display=swap");
@import "../style/text-animation.scss";
* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Oswald", sans-serif;
	margin-top: 2vh;
	margin-left: 4vw;
	margin-right: 4vw;
	transition: 0.5s;
}
