//GENERAL
$basic-text-color: gray;
$basic-dark: rgba(8, 8, 8, 0.877);
$basic-gray: rgb(204, 204, 204);
$theme-bg-color: white;
$dropdown-background-color: rgb(236, 236, 236);
$hover-background-color: rgb(194, 194, 194);
$basic-blue: #55e0e6;
$basic-yellow: #fdde4d;
//NAVBAR
$nav-text-color: rgb(88, 88, 88);
$nav-text-size: 16px;

//SIDEBAR
$sidebar-background-color: rgb(236, 236, 236);
$sidebar-text-color: black;
$sidebar-return-btn-color: gray;
$sidebar-return-btn-hover-color: rgb(129, 0, 0);
