@import "../../../style/theme.scss";
.notification-wrapper {
	position: fixed;
	z-index: 10000;
	color: $basic-text-color;
	border: 1px solid rgba(128, 128, 128, 0.39);
	border-top-color: white;
	top: 1rem;
	left: 1rem;
	overflow-wrap: break-word;
	min-width: 15rem;
	max-width: 25vw;
	min-height: 4rem;
	border-radius: 5px;

	padding-right: 0.3rem;
	padding-left: 0.3rem;
	box-shadow: $box-shadow-full;
	background-color: transparent;

	button {
		padding: 2% !important;
		background-color: transparent;
		font-weight: 500;
		font-size: 1rem !important;
		color: $primary-black;

		&:hover {
			opacity: 100;
		}
	}
	.notify-content-wrapper {
		position: relative;

		padding-bottom: 1rem;
		padding-top: 0.6rem;
		padding-left: 0.4rem;
		padding-right: 0.4rem;
		width: 103%;
		height: 100%;
		.approve-icon {
			svg {
				width: 10%;
				height: 10%;
			}
		}
		.content {
			margin-top: 5%;
			width: 100%;
			font-size: 0.8rem;
			font-weight: 500;

			a {
				color: rgb(43, 43, 43);
				font-weight: 600;
			}
		}

		.close {
			position: absolute;
			top: -2px;

			right: 0;

			font-size: 0.8rem;
			font-weight: 600;
			color: $basic-text-color;
			border-radius: 50%;
			border: 1px solid rgba(139, 139, 139, 0.555);
			background-color: $basic-gray;
			padding-right: 0.2rem;
			padding-left: 0.2rem;

			transition: 0.1s;
			&:hover {
				cursor: pointer;
				transform: scale(1.2);
				background-color: gray;
				color: white;
			}
		}
	}
}
